:root {
  --color-light-primary: #fff;
  --color-light-secondary: #eee;

  --color-dark-primary: #212121;
  --color-dark-secondary: #333;

  --color-complementary: #aaa;

  --color-highlight: #e74c3c;
  --color-hightlight-secondary: #f45949;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial;
  background-color: var(--color-light-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 22px;
  line-height: 1.75;
  font-weight: 300;
  letter-spacing: .017em;
  color: var(--color-dark-secondary);
}

.content-wrap {
  max-width: 768px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  color: #0070c9;
}

a:hover {
  color: var(--color-highlight);
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: .75em;
}

h2 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: .005em;
  margin: 1.7em 0 0 -.04em;
}

h3 {
  font-size: 24px;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  border: 0;
  text-align: center;
  margin: 48px;
}

hr::before {
  content: '...';
  font-size: 18px;
  letter-spacing: 1em;
  font-weight: 700;
}


/**
 * Heading
 */
.heading {
  margin-bottom: 60px;
}

.heading.content-wrap {
  max-width: 960px;
  text-align: center;
}

.heading__image {
  border-radius: 4px;
  width: 128px;
  margin-bottom: 32px;
}

.heading__headline {
  font-size: 65px;
  margin: 0;
  line-height: 1.05;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: -.025em;
}

.heading__description {
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: .016em;
  font-weight: 300;
}

.heading__details {
  font-size: 17px;
  margin-top: 55px;
  line-height: 1.53;
  font-weight: 300;
  letter-spacing: -.02em;
  border: 1px solid var(--color-complementary);
  border-radius: 4px;
  display: inline-block;
  padding: 3px 15px;
  white-space: nowrap;
}


/**
 * Layout
 */
.header {
  padding: 60px 0;
}

.footer {
  text-align: center;
  font-size: .7em;
  margin: 60px 0;
}


/**
 * Logo
 */
.header__logo {
  margin: 0;
  float: left;
  font-size: 38px;
  display: inline-block;
  padding: 0 12px;
  background-color: var(--color-highlight);
  text-decoration: none;
}

.header__logo,
.header__logo:visited,
.header__logo:link {
  color: var(--color-light-primary);
}

.header__logo:hover,
.header__logo:active,
.header__logo:focus {
  background-color: var(--color-hightlight-secondary);
  text-decoration: none;
}


/**
 * Global navigation
 */
.header__nav {
  margin: 13px 0;
  display: inline-block;
}

.header__nav a {
  float: left;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 24px;
  color: #111;
  margin-left: 2em;
  text-decoration: none;
}

.home .header__nav a {
  color: var(--color-light-primary);
}

.header__nav a:hover,
.header__nav a:active,
.header__nav a:focus,
.hero__social a:hover,
.hero__social a:active,
.hero__social a:focus {
  text-decoration: none;
  border-bottom: 2px solid var(--color-highlight);
  margin-bottom: -2px;
}


/**
 * Home
 */
.home .content-wrap {
  max-width: 960px;
}

/* Hero */
.hero {
  color: var(--color-light-primary);
}

.hero__hi {
  margin: 0;
  font-size: 24px;
}

.hero__description {
  font-size: 18px;
  margin: 0 0 18px 0;
  line-height: 1.5;
}

.hero__social a {
  margin-right: 16px;
}

.hero__social a:last-child {
  margin-right: 0;
}

.hero__social-icon {
  fill: var(--color-light-primary);
  height: 24px;
}

.hero__avatar {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  margin-top: 75px;
  width: 42px;
  height: 204px;
}

/* Section */
.home-section {
  margin-bottom: 100px;
}

.home-section__heading {
  margin-bottom: 1em;
  font-size: 50px;
}

#labs .home-section__heading,
#pixelart .home-section__heading {
  margin-bottom: 0;
}

/* Header */
.home .header {
  overflow: hidden;
  position: relative;
  background-color: var(--color-dark-primary);
}

/* Cards */
.home-section__cards {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.home-section__cards::-webkit-scrollbar {
  display: none;
}

.blog {
  margin-bottom: 32px;
}

.blog__image {
  width: 128px;
  border-radius: 4px;
  margin-right: 24px;
}

.blog__title {
  margin-top: 0;
  margin-bottom: -18px;
}

.blog__title a {
  text-decoration: none;
}

/**
 * Card
 */
.card {
  margin-right: 40px;
}

.card__link {
  position: relative;
  display: block;
  font-size: 0;
  width: 240px;
  height: 240px;
  border-radius: 4px;
  overflow: hidden;
}

.card__image {
  max-width: 100%;
}

.card__image--pixelart,
.pixelart__image {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  position: absolute;
  top: 50%;
  left: 50%;
}

.card__title {
  position: absolute;
  padding: 8px 12px;
  background-color: var(--color-highlight);
  color: var(--color-light-primary);
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: .017em;
  bottom: -10px;
  left: 10px;
  margin-right: 10px;
  font-size: 22px;
  opacity: .9;
}

.card__title small {
  display: block;
  font-size: 11px;
}

/**
 * Article
 */

/* Capital letter */
.article__body > p:first-of-type::first-letter {
  font-weight: 400;
  color: var(--color-light-primary);
  background-color: var(--color-highlight);
  padding: 3px 15px 0;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 40px;
  display: block;
  float: left;
}

.article__body p {
  margin-bottom: 1.7em;
}

.article__body a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.article__body ol,
.article__body ul {
  margin: 0 0 1.7em -.7em;
}

.article__body li {
  margin-bottom: .5em;
}

.article__body img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 85vh;
}

.article__body strong {
  font-weight: 400;
}

.article__body blockquote {
  border-left: 3px solid var(--color-highlight);
  padding-left: 20px;
  margin: 0 0 20px 3px;
  font-style: italic;
}


/**
 * Code styling
 */
pre {
  overflow: auto;
  margin-bottom: 1.8em;
}

code {
  font-family: 'Menlo', monospace;
  background-color: var(--color-light-secondary);
  padding: .3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

pre code {
  display: inline-block;
  min-width: 100%;
  line-height: 1.7;
  padding: 1em;
}

/**
 * Pixel art
 */
.pixelart__container {
  position: relative;
  max-width: 720px;
  max-height: 720px;
  padding-bottom: 100%;
  border-radius: 8px;
}

@media (min-width:640px) {
  .home-section__heading {
    font-size: 60px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .hero__container {
    display: inline-block;
    text-align: left;
  }

  .hero__description {
    max-width: 300px;
  }

  .heading__headline {
    font-size: 80px;
  }

  .hero__avatar {
    margin-top: 0;
    margin-left: 75px;
  }

  .heading {
    margin-top: 60px;
  }

  h2 {
    font-size: 44px;
  }

  .home .header,
  .home .header::before {
    background-position: center top;
  }

  .card__title {
    display: none;
    opacity: 1;
  }

  .card__link:hover .card__title {
    display: block;
  }

  .blog__image {
    float: left;
  }

  .blog__image + .blog__header {
    overflow: hidden;
  }
}

/**
 * Dark mode
 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #303030;
    color: var(--color-light-secondary);
  }

  a {
    color: var(--color-light-primary);
  }

  a:hover {
    color: var(--color-light-secondary);
  }

  .heading__details {
    border-color: var(--color-complementary);
  }

  .header__nav a {
    color: var(--color-light-primary);
  }

  code {
    background-color: var(--color-dark-primary);
    color: var(--color-light-primary)
  }
}