mixin estimatedReadingTime(content)
  - var words = content.replace(/(\#|\*|\>)/gi, '');
  - words = content.replace(/(\n|\r|\t|\s{2,})/gi, ' ');
  - words = content.split(' ').filter(function (word) { return word !== ''; });
  - var wordsPerMinute = 200;
  - var minutes = Math.ceil((words.length / wordsPerMinute).toFixed(2));
  - var minutesPerInlineImages = 0.2;
  - var inlineImages = content.match(/\!\[/gi).length;
  - var time = Math.round(minutes + (inlineImages * minutesPerInlineImages));
  
  meta(itemprop='wordCount', content=words.length)
  = time
