mixin published(dateCreated, dateModified)
  if dateModified
    - var modifiedUtc = moment.utc(dateModified);
    meta(itemprop='dateModified', content=modifiedUtc.format('YYYY-MM-DD'))
  
  - var createdUtc = moment.utc(dateCreated);
  - var now = new Date();
  - var limit = new Date(now.getDate() - 14);
  - var isNew = new Date(dateCreated) > limit;
  - var className = 'article-date' + (isNew ? ' new' : '')
  time(class=className, itemprop='datePublished', datetime=createdUtc.format('YYYY-MM-DD'))
    if createdUtc.year() !== now.getFullYear()
      = createdUtc.format('MMM DD, YYYY')
    else
      = createdUtc.format('MMM DD')
