mixin published(dateCreated, excludeDay)
  - var createdUtc = moment.utc(dateCreated);
  time(itemprop='datePublished', datetime=createdUtc.format('YYYY-MM-DD'))
    if excludeDay
      = createdUtc.format('MMM YYYY')
    else
      = createdUtc.format('MMM DD.YYYY')
