mixin published(dateCreated, dateModified)
  if dateModified
    - var modifiedUtc = moment.utc(dateModified);
    meta(itemprop='dateModified', content=modifiedUtc.format('YYYY-MM-DD'))
  
  - var createdUtc = moment.utc(dateCreated);
  time(itemprop='datePublished', datetime=createdUtc.format('YYYY-MM-DD'))
    if createdUtc.year() !== (new Date()).getFullYear()
      = createdUtc.format('MMM DD, YYYY')
    else
      = createdUtc.format('MMM DD')
