:root {
  --color-background: #fff;
  --color-text: rgba(0, 0, 0, .85);
  --color-link-default: #0074D9;
  --color-border: #dadcdd;

  --gutter-l: 4rem;
  --gutter-m: calc(var(--gutter-l) / 2);
  --gutter-s: calc(var(--gutter-m) / 2);

  --font-type-sans: 'Roboto', sans-serif;
  --font-type-serif: 'Playfair Display', serif;
  --font-type-mono: 'Menlo', monospace;

  --font-size-xxl: 4rem;
  --font-size-xl: 3rem;
  --font-size-l: 2rem;
  --font-size-m: 1.5rem;
  --font-size-s: .9rem;
  --font-size-xs: .75rem;
  --font-size-xxs: .5rem;

  --radius: .4rem;

  --break-point: 50rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111;
    --color-text: #eee;
  }
} */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}

body {
  background: var(--color-background);
  font-family: var(--font-type-sans);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 68rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-type-serif);
  font-weight: 500;
}

a {
  color: var(--color-link-default);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

/* LAYOUT */

.header,
.hero,
.entry-head {
  padding: var(--gutter-m);
}

/* B&W IMAGES */

.header__logo,
.blog-entry__image,
.entry-head__image {
  opacity: .9;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAHCAYAAADXhRcnAAAAQUlEQVQYlaWPWwoAIAgEZ6P7X9kgkEosP9q/8cUowFg52Mwk6dpvW5EwVLEaH+luWJyI/ck37Zj0jS9tX061ngwM3psOEDmut7oAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  font-size: 0;
  width: 15px;
  height: 7px;
  transform: scale(3);
  transform-origin: left;
}

.homepage .header__logo {
  background-image: url('/assets/logo.gif');
  height: 15px;
}

.header__nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.header__nav li:not(:last-child) {
  margin-right: var(--gutter-s);
}

.header__nav a {
  color: var(--color-text);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

/* HOMEPAGE */

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@keyframes bounce {
  from { transform: rotate(90deg) translateX(0) }
  to { transform: rotate(90deg) translateX(-1rem) }
}

.hero::after {
  content: '➼';
  font-size: var(--font-size-m);
  transform: rotate(90deg);
  animation: bounce ease-in-out 1s infinite alternate;
}

.hero__image {
  height: 40%;
  margin: var(--gutter-s);
  flex-grow: 1;
  object-fit: contain;
}

.hero__details {
  flex-grow: 1;
}

.hero__title {
  font-size: var(--font-size-l);
  margin: 0;
}

a.hero__contact {
  color: var(--color-text);
  font-size: var(--font-size-xs);
}

.hero__contact:not(:last-child) {
  margin-right: var(--gutter-s);
}

/* HOME SECTIONS */

.home-section {
  padding: var(--gutter-l) var(--gutter-s);
}

.home-section:not(:last-of-type) {
  border-bottom: 1px solid var(--color-border);
}

.home-section__title {
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl);
  margin: 0;
}

.home-section__description {
  margin: var(--font-size-m) 0;
  line-height: var(--font-size-m);
}

/* CARDS */

.home-section__cards {
  margin: 0;
  padding-left: 0;
  padding-bottom: var(--font-size-m);
  list-style: none;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card {
  margin-right: var(--font-size-m);
}

.card__image {
  max-width: 10rem;
  border-radius: var(--radius);
  height: 16rem;
  object-fit: cover;
}

.card__image--border {
  border: 1px solid var(--color-border);
}

.card__link:hover {
  text-decoration: none;
}

.card__title,
.card__description {
  color: var(--color-text);
  font-size: var(--font-size-s);
  margin: var(--font-size-xs) var(--font-size-xxs) var(--font-size-xxs);
}

.card__title {
  font-weight: 500;
  line-height: 1.5em;
}

.card__description {
  margin-top: 0;
}

/* PIXELART */

.pixelart__container {
  background: var(--art-bg-color);
  width: 16rem;
  height: 16rem;
  display: flex;
  margin: 0;
  border-radius: var(--radius);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pixelart__image {
  max-width: 100%;
  transform: scale(var(--art-scale));
}

/* BLOG */

.blog-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--font-size-s);
}

.blog-entry {
  margin: var(--gutter-s) 0;
}

.blog-entry__details {
  display: flex;
  align-items: center;
}

.blog-entry__title {
  font-size: var(--font-size-m);
  margin: var(--gutter-s) 0;
}

.blog-entry__title a {
  color: var(--color-text);
}

.blog-entry__image {
  transform: scale(1.5);
  transform-origin: left;
}

.blog-entry__description {
  line-height: 1.5em;
}

/* FOOTER */

.footer {
  margin-bottom: var(--gutter-l);
  text-align: center;
  font-family: var(--font-type-serif);
  font-weight: 500;
}

.footer::before {
  content: '— '
}

/* POST LAYOUT */

.entry-head,
.entry-body {
  max-width: var(--break-point);
  margin: 0 auto;
}

/* POST */

.entry-head {
  word-break: break-word;
}

.entry-head__image {
  transform: scale(2);
  transform-origin: left;
  margin-bottom: var(--gutter-s);
}

.entry-head__headline {
  font-size: var(--font-size-xl);
  line-height: 1.15em;
  margin: var(--gutter-s) 0;
}

.entry-line {
  border: none;
  border-top: 1px solid var(--color-text);
  background-image: linear-gradient(
    to right,
    transparent 33%,
    var(--color-text) 33%,
    var(--color-text) 66%,
    transparent 66%
  );
  max-width: var(--break-point);
  height: 7px;
  margin: 0 var(--gutter-s);
}

/* Replaces .entry-line whenever it's used */
.entry-main-image {
  max-width: 100%;
}

.entry-body {
  line-height: 1.5em;
  padding: var(--gutter-l) var(--gutter-s);
}

.entry-body > p:first-of-type::first-letter {
  font-family: var(--font-type-serif);
  font-weight: 500;
  font-size: var(--font-size-xl);
  margin: var(--font-size-xxs) var(--font-size-xs) var(--font-size-xs) 0;
  display: block;
  float: left;
}

.entry-body img {
  max-width: 100%;
  max-height: 75vh;
  margin: var(--gutter-m) auto;
  display: block;
  border-radius: var(--radius);
}

.entry-body__video {
  width: 100%;
  height: calc(var(--break-point) / 2);
}

.entry-body h2,
.entry-body h3 {
  margin-top: var(--gutter-l);
  line-height: 1em;
}

.entry-body h2 {
  font-size: var(--font-size-l);
}

.entry-body h3 {
  font-size: var(--font-size-m);
}

.entry-body p {
  margin-bottom: var(--gutter-s);
}

.entry-body strong {
  font-weight: 500;
}

.entry-body ol,
.entry-body ul {
  padding-left: var(--gutter-m);
}

.entry-body blockquote {
  border-left: 4px solid var(--color-text);
  padding-left: var(--gutter-s);
  margin-bottom: var(--gutter-s);
  margin-left: 4px;
  font-style: italic;
}

.entry-body code {
  font-family: var(--font-type-mono);
  background-color: var(--color-text);
  color: var(--color-background);
  padding: .3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-radius: calc(var(--radius) / 2);
}

.entry-body pre {
  overflow: auto;
}

.entry-body pre code {
  display: inline-block;
  min-width: 100%;
  line-height: 1.7;
  padding: var(--gutter-s);
}

/* BIG SCREENS */
@media (min-width: 48rem) {
  .header__nav li:not(:last-child) {
    margin-right: var(--gutter-m);
  }

  .hero__title {
    font-size: var(--font-size-xxl);
  }

  .home-section {
    padding-left: var(--gutter-m);
    padding-right: var(--gutter-m);
  }

  .blog-entry {
    flex-basis: 45%;
  }

  .entry-head__image {
    transform-origin: center;
  }

  .entry-head {
    padding-top: var(--gutter-l);
    padding-bottom: var(--gutter-l);
    text-align: center;
  }

  .entry-line {
    margin: 0 auto;
  }

  .entry-head__headline {
    margin: var(--gutter-m) 0;
  }

  .entry-body {
    font-size: var(--font-size-s);
  }

  .entry-body img.retina {
    /* FIXME: Use pixel density and stuff */
    transform: scale(.5);
  }
}