:root {
  --color-background: #fff;
  --color-text: #000;
  --color-link-default: #0074D9;
  --gutter-l: 4rem;
  --gutter-m: calc(var(--gutter-l) / 2);
  --gutter-s: calc(var(--gutter-m) / 2);

  --font-type-sans: 'Roboto', sans-serif;
  --font-type-serif: 'Arbutus Slab', serif;
  --font-type-mono: 'Menlo', monospace;

  --font-size-xxl: 5rem;
  --font-size-xl: 3rem;
  --font-size-l: 2rem;
  --font-size-m: 1.5rem;
  --font-size-s: .9rem;
  --font-size-xs: .75rem;

  --radius: .4rem;

  --break-point: 50rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111;
    --color-text: #eee;
  }
} */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}

body {
  background: var(--color-background);
  font-family: var(--font-type-sans);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 68rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-type-serif);
  letter-spacing: -0.02em;
}

a {
  color: var(--color-link-default);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--gutter-m);
  align-items: center;
}

.header__logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAHCAYAAADXhRcnAAAAQUlEQVQYlaWPWwoAIAgEZ6P7X9kgkEosP9q/8cUowFg52Mwk6dpvW5EwVLEaH+luWJyI/ck37Zj0jS9tX061ngwM3psOEDmut7oAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  font-size: 0;
  width: 15px;
  height: 7px;
  transform: scale(3);
  transform-origin: left;
}

.homepage .header__logo {
  background-image: url('/assets/logo.gif');
  height: 15px;
}

.header__nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.header__nav li:not(:last-child) {
  margin-right: var(--gutter-m);
}

.header__nav a {
  color: var(--color-text);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

/* HOMEPAGE */

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: var(--gutter-m);
}

.hero::after {
  content: '➼';
  font-size: var(--font-size-m);
  transform: rotate(90deg);
}

.hero__image {
  height: 40%;
  flex-grow: 1;
  object-fit: contain;
}

.hero__details {
  flex-grow: 1;
}

.hero__title {
  font-size: var(--font-size-l);
  margin: 0;
}

a.hero__contact {
  color: var(--color-text);
  font-size: var(--font-size-xs);
}

.hero__contact:not(:last-child) {
  margin-right: var(--gutter-s);
}

/* HOME SECTIONS */

.home-section {
  padding: var(--gutter-m);
}

.home-section__title {
  font-size: var(--font-size-xl);
  margin: 0;
}

.home-section__description {
  margin: 0 0 var(--gutter-m);
}

/* CARDS */

.home-section__cards {
  margin: 0;
  padding-left: 0;
  padding-bottom: var(--gutter-s);
  list-style: none;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.home-section__cards::-webkit-scrollbar {
  display: none;
}

.card:not(:last-child) {
  margin-right: var(--gutter-m);
}

.card__image {
  max-width: 16rem;
  border-radius: var(--radius);
}

.card__image--border {
  border: 1px solid #eee;
}

.card__title {
  color: var(--color-text);
  margin: var(--gutter-s);
  margin-bottom: calc(var(--gutter-s) / 2);
}

.card__link:hover {
  text-decoration: none;
}

.card__description {
  color: var(--color-text);
  margin-left: var(--gutter-s);
  font-size: var(--font-size-s);
  font-style: italic;
}

/* PIXELART */

.pixelart__container {
  background: var(--art-bg-color);
  width: 16rem;
  height: 16rem;
  display: flex;
  margin: 0;
  border-radius: var(--radius);
  justify-content: center;
  align-items: center;
}

.pixelart__image {
  max-width: 100%;
  transform: scale(var(--art-scale));
}

/* BLOG */

.blog-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-entry {
  margin-top: var(--gutter-s);
  margin-bottom: var(--gutter-s);
}

.blog-entry__details {
  display: flex;
  align-items: center;
}

.blog-entry__created {
  font-size: var(--font-size-s);
  font-style: italic;
}

.blog-entry__title {
  font-size: 1.5em;
  margin: var(--gutter-s) 0;
  font-weight: 400;
  font-family: 'Roboto';
}

.blog-entry__title a {
  color: var(--color-text);
}

.blog-entry__image {
  transform: scale(1.5);
  transform-origin: left;
}

/* FOOTER */

.footer {
  margin-bottom: var(--gutter-l);
  text-align: center;
  font-style: italic;
}

.footer::before {
  content: '— '
}

/* POST */

.entry-head {
  padding: var(--gutter-m);
  word-break: break-word;
}

.entry-head__image {
  transform: scale(2);
  transform-origin: left;
}

.entry-head__headline {
  font-size: calc(var(--font-size-xl) * 1.3);
  line-height: 1em;
  margin-bottom: var(--gutter-s);
}

.entry-head__details {
  font-style: italic;
}

.entry-head__description {
  font-size: var(--font-size-m);
}

.entry-hero {
  max-width: 100%;
}

.entry-line {
  border: none;
  border-top: 1px solid var(--color-text);
  background-image: linear-gradient(
    to right,
    transparent 33%,
    var(--color-text) 33%,
    var(--color-text) 66%,
    transparent 66%
  );
  max-width: var(--break-point);
  height: 7px;
  margin: 0 var(--gutter-s);
}

.entry-body {
  line-height: 1.5em;
  font-size: 1.2rem;
  max-width: var(--break-point);
  margin: 0 auto;
  padding: var(--gutter-l) var(--gutter-s);
}

.entry-body img {
  max-width: 100%;
  margin: var(--gutter-m) auto;
  display: block;
  border-radius: var(--radius);
}

.entry-body img.scale--triple {
  transform: scale(3);
  margin: calc(var(--gutter-l) * 2) auto;
}

.entry-body__video {
  width: 100%;
  height: calc(var(--break-point) / 2);
}

.entry-body h2,
.entry-body h3 {
  margin-top: var(--gutter-l);
  line-height: 1em;
}

.entry-body h2 {
  font-size: var(--font-size-xl);
}

.entry-body h3 {
  font-size: var(--font-size-l);
}

.entry-body p {
  margin-bottom: var(--gutter-m);
}

.entry-body ol,
.entry-body ul {
  padding-left: var(--gutter-m);
}

.entry-body > p:first-of-type::first-letter {
  font-family: var(--font-type-serif);
  font-size: var(--font-size-xxl);
  margin: 0 var(--font-size-xs) var(--font-size-xs) 0;
  display: block;
  float: left;
}

.entry-body blockquote {
  border-left: 4px solid var(--color-text);
  padding-left: var(--gutter-s);
  margin-bottom: var(--gutter-s);
  margin-left: 4px;
  font-style: italic;
}

.entry-body code {
  font-family: var(--font-type-mono);
  background-color: var(--color-text);
  color: var(--color-background);
  padding: .3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-radius: calc(var(--radius) / 2);
}

.entry-body pre {
  overflow: auto;
}

.entry-body pre code {
  display: inline-block;
  min-width: 100%;
  line-height: 1.7;
  padding: var(--gutter-s);
}

/* BIG SCREENS */
@media (min-width: 48rem) {
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
  }

  .hero__title {
    font-size: 4em;
  }

  .home-section {
    padding: var(--gutter-l);
  }
  
  .home-section__title {
    font-size: var(--font-size-xxl);
  }

  .home-section__description {
    font-size: var(--font-size-m);
  }

  .blog-entry {
    flex-basis: 45%;
  }

  .entry-head__image {
    transform: scale(2.5);
    transform-origin: center;
  }

  .entry-head {
    padding-top: var(--gutter-l);
    padding-bottom: var(--gutter-l);
    text-align: center;
  }

  .entry-line {
    margin: 0 auto;
  }

  .entry-head__headline {
    font-size: var(--font-size-xxl);
    margin-bottom: var(--gutter-m);
  }

  .entry-body {
    padding: calc(var(--gutter-l) * 1.5) var(--gutter-l);
  }
}