/**
 * Labs home
 */
 .home__section h2 {
   font-size: 60px;
 }

/* .card__image {
  max-width: 360px;
} */


.hi {
  font-size: 60px;
  line-height: inherit;
}

/*.home .header {
  height: 540px;
}*/

.article-headline {
  font-size: 80px;
}

.article-header {
  margin-top: 60px;
}

h2 {
  font-size: 44px;
}

.emoji {
  display: inline;
}


.home .header,
.home .header::before {
  background-position: center top;
}





footer .nav {
  font-size: 1.3em;
  margin: 3.5em 0;
}

/**
 * Home
 */

.articles-list,
.articles-list__year-content,
.articles-list__month-content {
  margin: 0;
}

.articles-list__blocks {
  clear: left;
}

.articles-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.articles-list__year, .articles-list__month, .articles-list a {
  display: block;
  float: left;
  margin: 0 0 -1px;
}

.articles-list__year, .articles-list__month {
  font-weight: 400;
  text-align: center;
  background-color: #fff;
  color: rgba(0, 0, 0, .6);
}

.articles-list__year {
  width: 5em;
  font-size: 1em;
}

.articles-list__month {
  width: 6em;
  font-variant: small-caps;
  text-transform: lowercase;
}

.articles-list__article {
  height: 3em;
  line-height: 3em;
}

.articles-list__article a {
  width: 21em;
  text-indent: 1em;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: none;
}

.articles-list__article a:hover {
  background-color: inherit;
  color: #000;
}
