/**
 * Structure
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', Arial, serif;
  font-size: 19px;
  line-height: 1.7;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, .8);
  margin: 0;
}

.content-wrap {
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  border-bottom: 2px solid #e74c3c;
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
}

a:hover {
  background-color: #e74c3c;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
}

h2 {
  font-size: 28px;
  letter-spacing: -.01em;
}

h3 {
  font-size: 24px;
  margin-bottom: -16px;
}

.header {
  margin: 3em 0;
}

/**
 * Article
 */

.article-header {
  margin-bottom: 3em;
  font-family: 'Lato';
}

.article-headline {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: .2em;
  line-height: 1.2em;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: -.01em;
}

.article-details {
  font-size: 14px;
  color: rgba(0, 0, 0, .6);
}

.article-body p {
  margin-bottom: 1.7em;
}

.article-body a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.article-body ol,
.article-body ul {
  margin: 0 0 1.7em -1.05em;
}

.article-body li {
  margin-bottom: .5em;
}

.article-body blockquote {
  font-weight: 700;
  border-left: 3px solid #e74c3c;
  color: #e74c3c;
  padding-left: 20px;
  margin-left: 3px;
  margin-bottom: 20px;
  margin-right: 0;
}

.article-body hr {
  display: block;
  border: 0;
  text-align: center;
  margin: 48px;
}

.article-body hr::before {
  content: '...';
  font-family: 'Lato';
  color: rgba(0, 0, 0, .6);
  font-size: 18px;
  letter-spacing: 1em;
}

/* page footer */

footer {
  margin: 3em 0;
}

footer .nav {
  text-align: center;
  margin: 1em 0;
}

footer .nav::before {
  content: '\00ab\00a0';
}

footer .copy {
  text-align: center;
  font-size: .7em;
  margin-top: 1em;
  font-family: 'Lato';
  color: rgba(0, 0, 0, .6);
}

p img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/**
 * Home
 */

.articles-list, .articles-list ol {
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 768px) {
  .articles-list__year,
  .articles-list__month,
  .articles-list__article {
    line-height: 1.7!important;
  }

  .articles-list__article {
    height: auto!important;
  }
}

/**
 * Code styling
 */

pre {
  overflow: auto;
  margin-bottom: 1.8em;
  padding: 1em;
}

pre, p code {
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 3px;
}

code {
  font-family: 'Menlo', monospace;
  color: rgba(0, 0, 0, .6);
}

pre code {
  display: block;
  line-height: 1.7;
}

p code {
  padding: .1em .3em .2em;
}

/**
 * Logo
 */

.logo {
  margin: 0;
}

.logo a, .logo a:visited, .logo a:link {
  display: inline-block;
  padding: 0 .3em;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
}

.logo a:hover, .logo a:active, .logo a:focus {
  background-color: #f45949;
}


/* media queries */

@media (min-width: 768px) {
  .article-headline {
    font-size: 3em;
  }

  h2 {
    font-size: 34px;
  }

  ol, ul {
    margin: 0 1.7em 1.7em .9em;
  }

  .article-body blockquote {
    margin-left: -23px;
  }

  footer .nav {
    font-size: 1.3em;
    margin: 3.5em 0;
  }

  /**
   * Home
   */
  .articles-list,
  .articles-list__year-content,
  .articles-list__month-content {
    margin: 0;
  }

  .articles-list__blocks {
    clear: left;
  }

  .articles-list li:not(:last-child) {
  	border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .articles-list__year, .articles-list__month, .articles-list a {
    display: block;
    float: left;
    margin: 0 0 -1px;
  }

  .articles-list__year, .articles-list__month {
    font-weight: 400;
    text-align: center;
    background-color: #fff;
    color: rgba(0, 0, 0, .6);
  }

  .articles-list__year {
    width: 5em;
    font-size: 1em;
  }

  .articles-list__month {
    width: 6em;
    font-variant: small-caps;
    text-transform: lowercase;
  }

  .articles-list__article {
    height: 3em;
    line-height: 3em;
  }

  .articles-list__article a {
    width: 21em;
    text-indent: 1em;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: none;
  }

  .articles-list__article a:hover {
    background-color: inherit;
    color: #000;
  }
}
