/**
 * Base
 */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial;
  background-color: #303030;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 22px;
  line-height: 1.75;
  font-weight: 300;
  letter-spacing: .017em;
  color: #eee;
}

.content-wrap {
  max-width: 768px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  color: #fff;
}

a:hover {
  color: #eee;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: .75em;
}

h2 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: .005em;
  margin: 1.7em 0 0 -.04em;
}

h3 {
  font-size: 24px;
}

img {
  background-color: #212121;
  max-width: 100%;
}

hr {
  display: block;
  border: 0;
  text-align: center;
  margin: 48px;
}

hr::before {
  content: '...';
  font-size: 18px;
  letter-spacing: 1em;
  font-weight: 700;
}


/**
 * Heading
 */
.heading {
  margin-bottom: 60px;
}

.heading.content-wrap {
  max-width: 960px;
  text-align: center;
}

.heading__headline {
  font-size: 65px;
  margin: 0;
  line-height: 1.05;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  letter-spacing: -.025em;
}

.heading__description {
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: .016em;
  font-weight: 300;
}

.heading__details {
  font-size: 17px;
  margin-top: 55px;
  line-height: 1.53;
  font-weight: 300;
  letter-spacing: -.02em;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 15px;
  white-space: nowrap;
}


/**
 * Layout
 */
.header {
  padding: 60px 0;
}

.footer {
  text-align: center;
  font-size: .7em;
  margin: 60px 0;
}


/**
 * Logo
 */
.header__logo {
  margin: 0;
  float: left;
  font-size: 38px;
  display: inline-block;
  padding: 0 12px;
  background-color: #e74c3c;
  text-decoration: none;
}

.header__logo,
.header__logo:visited,
.header__logo:link {
  color: #fff;
}

.header__logo:hover,
.header__logo:active,
.header__logo:focus {
  background-color: #f45949;
  text-decoration: none;
}


/**
 * Global navigation
 */
.header__nav {
  margin: 13px 0;
  display: inline-block;
}

.header__nav a {
  float: left;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 24px;
  color: #fff;
  margin-left: 2em;
  text-decoration: none;
}

.header__nav a:hover,
.header__nav a:active,
.header__nav a:focus,
.hero__social a:hover,
.hero__social a:active,
.hero__social a:focus {
  text-decoration: none;
  border-bottom: 2px solid #e74c3c;
  margin-bottom: -2px;
}


/**
 * Home
 */
.home .header__nav a,
.home .header__nav a:hover {
  text-shadow: 0 0 .5em #111;
}

.home .content-wrap {
  max-width: 960px;
}

/* Hero */
.hero__hi {
  margin: 0;
  font-size: 24px;
}

.hero__description {
  font-size: 18px;
  margin: 0 0 18px 0;
  line-height: 1.5;
}

.hero__social a {
  margin-right: 16px;
}

.hero__social-icon {
  fill: #fff;
  height: 24px;
}

.hero__avatar {
  border-radius: 100%;
  width: 170px;
  margin: 32px;
}

/* Section */
.home-section {
  margin-bottom: 100px;
}

.home-section__heading {
  margin-bottom: 1em;
  font-size: 50px;
}

#labs .home-section__heading,
#pixelart .home-section__heading {
  margin-bottom: 0;
}

/* Header */
.home .header {
  overflow: hidden;
  position: relative;
  background-color: #212121;
}

/* Cards */
.home-section__cards {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
}

.blog__title {
  margin-bottom: -18px;
}

.blog__title a {
  text-decoration: none;
}

.blog__title a:hover,
.blog__title a:active,
.blog__title a:focus {
  text-decoration: underline;
}

/**
 * Card
 */
.card {
  margin-right: 40px;
  max-width: 240px;
  min-width: 240px;
  max-height: 240px;
}

.card__link {
  position: relative;
  display: block;
  font-size: 0;
}

.card__link:hover .card__title,
.card__link:active .card__title,
.card__link:focus .card__title {
  background-color: #f45949;
}

.card__image {
  max-width: 100%;
  border-radius: 4px;
}

.card__title {
  position: absolute;
  padding: 6px 12px;
  background-color: #e74c3c;
  color: #fff;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: .017em;
  bottom: -10px;
  left: 10px;
  margin-right: 10px;
  font-size: 22px;
  max-height: 63px;
  overflow: hidden;
}

/**
 * Article
 */

/* Capital letter */
.article__body > p:first-of-type::first-letter {
  font-weight: 400;
  color: #fff;
  background-color: #e74c3c;
  padding: 3px 15px 0;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 40px;
  display: block;
  float: left;
}

.article__body p {
  margin-bottom: 1.7em;
}

.article__body a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.article__body ol,
.article__body ul {
  margin: 0 0 1.7em -.7em;
}

.article__body li {
  margin-bottom: .5em;
}

.article__body img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 85vh;
}

.article__body strong {
  font-weight: 400;
}

.article__body blockquote {
  border-left: 3px solid #e74c3c;
  padding-left: 20px;
  margin: 0 0 20px 3px;
  font-style: italic;
}


/**
 * Code styling
 */
pre {
  overflow: auto;
  margin-bottom: 1.8em;
}

code {
  font-family: 'Menlo', monospace;
  background-color: #212121;
  padding: .3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

pre code {
  display: inline-block;
  min-width: 100%;
  line-height: 1.7;
  padding: 1em;
}


@media (min-width:640px) {
  .home-section__heading {
    font-size: 60px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__container {
    display: inline-block;
    text-align: left;
  }

  .hero__description {
    max-width: 300px;
  }

  .heading__headline {
    font-size: 80px;
  }

  .heading {
    margin-top: 60px;
  }

  h2 {
    font-size: 44px;
  }

  .home .header,
  .home .header::before {
    background-position: center top;
  }
}
