extends layout

block prepend title
  |#{'Articles - '}

block content
  header.heading.content-wrap
    h1.heading__headline Articles

  section.content-wrap
    - const articles = env.helpers.getArticles(contents).filter(article => !article.metadata.draft);
    each article in articles
      article(itemscope, itemtype='http://schema.org/Article')
        h3(itemprop='headline')
          a(href=article.url, itemprop='url')= article.title
        p
          include mixins/published
          mixin published(article.date)
          |#{' - '}
          span(itemprop='description')= article.metadata.description
