
mixin author(authorName)
  - var author = contents.authors[authorName + '.json'];
  span(itemprop='author', itemscope, itemtype='http://schema.org/Person')
    | #{ 'Written by ' }
    if author
      a(itemprop='sameAs', rel='author', href=author.metadata.contactURL)
        span(itemprop='name')= author.metadata.name
    else
      span(itemprop='name')= authorName
