extends layout

block prepend title
  |#{'Labs - '}

block content
  include mixins/card
  - const labs = env.helpers.getLabs(contents);
  header.article-header.content-wrap
    h1.article-headline Labs

  section.cards.content-wrap
    h2 Projects
    - const projects = labs.filter(lab => lab.metadata.external);
    each project in projects
      mixin card(project.url, project.title, project.date, true)

  section.cards.content-wrap
    h2 Codepens
    - const pens = labs.filter(lab => !lab.metadata.external);
    each pen in pens
      mixin card(pen.url, pen.title, pen.date)
