extends layout

block append vars
  - bodyclass = 'pickings';

block prepend title
  |#{'Pickings | '}

block content
  header.article-header.content-wrap
    h1.article-headline(itemprop='headline') Pickings
    p.article-description(itemprop='description') A collection of thoughts I'd like to share with y'all. Usually tech-related tweets.
  section
    each pick in page.metadata.pickings
      blockquote.twitter-tweet.content-wrap(data-lang='en', data-align='center')
        p(lang='en', dir='ltr')!= pick.text
        a(href='https://twitter.com/' + locals.name + '/status/' + pick.id + '?ref_src=twsrc%5Etfw')= pick.date

block prepend footer
  div.nav
    a(href='/') Go back

block append body
  script(defer, src='https://platform.twitter.com/widgets.js')
